*.o
*.service
Makefile.in
Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
Makefile.in.in
POTFILES
stamp-it
stamp-h1
.deps
.libs
stamp-*.h
tumbler
tumbler-manager-dbus-bindings.h
tumbler-marshal.c
tumbler-marshal.h
*.swp
commit-msg
