*~
*.o
*.service
Makefile.in
Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.in
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
Makefile.in.in
POTFILES
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/tumbler.pot
po/*.gmo
stamp-po
stamp-h1
.deps
.libs
stamp-*.h
tumbler-marshal.[ch]
tumbler-cache-service-gdbus.[ch]
tumbler-manager-gdbus.[ch]
tumbler-service-gdbus.[ch]
tumbler-cache-service-dbus.xml
tumbler-manager-dbus.xml
tumbler-service-dbus.xml
*.swp
commit-msg
*.lo
*.pc
*.la
tumbler-config.h
gtk-doc.make
gtk-doc.m4
tumbler/tumbler-visibility.c
tumbler/tumbler-visibility.h
tumblerd/tumblerd
*-dbus-bindings.h
docs/reference/tumbler/xml/
docs/reference/tumbler/tumbler-decl.txt.bak
docs/reference/tumbler/tumbler-decl-list.txt.bak
docs/reference/tumbler/tumbler-docs.xml
docs/reference/tumbler/tumbler.actions
docs/reference/tumbler/tumbler.types.bak
version.xml
*.prerequisites
*.signals
*.interfaces
*.hierarchy
*.args
*-unused.txt
*-undocumented.txt
*-undeclared.txt
*-overrides.txt
*-decl.txt
*-decl-list.txt
tmpl
*.stamp
html
m4/*
ABOUT-NLS
ChangeLog
INSTALL
